<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="msapplication-tap-highlight" content="no">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<title>管理页面</title>
</head>
<body>
	<div id="app" class="container" v-cloak>
		<%=title %>
	</div>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script type="text/javascript" src="../js/plupload/plupload.full.min.js" ></script>
	<script type="text/javascript" src="../js/plupload/zh_CN.js" ></script>
	<script type="text/javascript" src="http://7xv1io.com1.z0.glb.clouddn.com/js/lib/qiniu.min.js" ></script>
</body>
</html>
